@import 'tailwindcss';

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
